<% layout('layouts/stmv', { title: 'Database' }) %>
<div class="wizard-step-3 d-block">
  <form action="/install/database" method="POST">
    <div class="row">
      <% if (process.env.DOTENV_EDIT === 'true') { %>
      <div class="database-field col-md">
        <h6>Please enter your database configuration details below.</h6>
        <div class="form-group form-row">
          <label>Host <span class="required-fill">*</span></label>
          <div>
            <input type="text" name="database[DB_HOST]" value="<%= process.env.DB_HOST || '127.0.0.1' %>" class="form-control" placeholder="127.0.0.1" autocomplete="off">
            <% if (errors['database.DB_HOST']) { %><span class="text-danger"><%= errors['database.DB_HOST'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>Port<span class="required-fill">*</span></label>
          <div>
            <input type="number" name="database[DB_PORT]" value="<%= process.env.DB_PORT || '3306' %>" class="form-control" placeholder="3306" autocomplete="off">
            <% if (errors['database.DB_PORT']) { %><span class="text-danger"><%= errors['database.DB_PORT'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>DB Username<span class="required-fill">*</span></label>
          <div>
            <input type="text" name="database[DB_USERNAME]" value="<%= process.env.DB_USERNAME || '' %>" class="form-control" autocomplete="off">
            <% if (errors['database.DB_USERNAME']) { %><span class="text-danger"><%= errors['database.DB_USERNAME'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>DB Password</label>
          <div>
            <input type="password" name="database[DB_PASSWORD]" value="<%= process.env.DB_PASSWORD || '' %>" class="form-control" autocomplete="off">
          </div>
        </div>
        <div class="form-group form-row">
          <label>Database Name<span class="required-fill">*</span></label>
          <div>
            <input type="text" name="database[DB_DATABASE]" value="<%= process.env.DB_DATABASE || '' %>" class="form-control" autocomplete="off">
            <% if (errors['database.DB_DATABASE']) { %><span class="text-danger"><%= errors['database.DB_DATABASE'] %></span><% } %>
          </div>
        </div>
      </div>
      <div class="database-field col-md" id="adminFormGroup">
        <h6>Please enter your administration details below.</h6>
        <div class="form-group form-row">
          <label>First Name <span class="required-fill">*</span></label>
          <div>
            <input type="text" name="admin[first_name]" value="" class="form-control" autocomplete="off">
            <% if (errors['admin.first_name']) { %><span class="text-danger"><%= errors['admin.first_name'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>Last Name<span class="required-fill">*</span></label>
          <div>
            <input type="text" name="admin[last_name]" value="" class="form-control" autocomplete="off">
            <% if (errors['admin.last_name']) { %><span class="text-danger"><%= errors['admin.last_name'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>Email<span class="required-fill">*</span></label>
          <div>
            <input type="email" name="admin[email]" value="" class="form-control" autocomplete="off">
            <% if (errors['admin.email']) { %><span class="text-danger"><%= errors['admin.email'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>Password<span class="required-fill">*</span></label>
          <div>
            <input type="password" name="admin[password]" class="form-control" autocomplete="off">
            <% if (errors['admin.password']) { %><span class="text-danger"><%= errors['admin.password'] %></span><% } %>
          </div>
        </div>
        <div class="form-group form-row">
          <label>Confirm Password <span class="required-fill">*</span></label>
          <div>
            <input type="password" name="admin[password_confirmation]" class="form-control" autocomplete="off">
            <% if (errors['admin.password_confirmation']) { %><span class="text-danger"><%= errors['admin.password_confirmation'] %></span><% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </form>
  <div class="next-btn d-flex">
    <% if (!session.licenseVerified) { %>
      <a href="/install/license" class="btn btn-primary" id="previousBtn"><i class="far fa-hand-point-left me-2"></i>Previous</a>
    <% } %>
    <a href="javascript:void(0)" id="submitBtn" class="btn btn-primary submit-form">Next<i class="far fa-hand-point-right ms-2"></i><span id="spinnerIcon" class="spinner-border spinner-border-sm ms-2 d-none"></span></a>
  </div>
</div>
<% scripts = `<script>$(document).ready(function(){ $('#importDummyData').change(function(){ if($(this).is(':checked')) $('#adminFormGroup').addClass('d-none'); else $('#adminFormGroup').removeClass('d-none'); }); $('.submit-form').on('click', function(e){ e.preventDefault(); $(this).addClass('disabled'); $('#previousBtn').addClass('disabled'); $('#submitBtn').addClass('disabled'); $('#spinnerIcon').removeClass('d-none'); $("form").submit(); }); });</script>` %>

